/* .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
} */

/* .gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  border-radius: 3px;
  border: 1px solid black;
  margin-top: -16px;
  padding: 5px 151px;
} */

@media (min-width: 768px) {
    .gradient-form {
      height: 212vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }
  }
  .fa-lg {
    line-height: 1em;
    vertical-align: -0.075em;
  }
  
  .logo {
    margin-left: 4px;
    margin-top: -41px;
  }
  
  .logo-1 {
    margin-left: 4px;
    margin-top: -7%;
  }
  .container
  {
    width: 100%;
    
  }
  /* .card-body {
    margin-left: 50px;
  } */
  .gradient-custom-4 {
      background: #fccb90;
      border-radius: 100px;
      background: -webkit-linear-gradient(
        to right,
        #ee7724,
        #d8363a,
        #dd3675,
        #b44593
      );
      background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .gradient-custom-4:hover {
    box-shadow: rgba(187, 44, 51, 0.35) 0 -25px 18px -14px inset,
      rgba(240, 58, 58, 0.25) 0 1px 2px, rgba(223, 50, 73, 0.25) 0 2px 4px,
      rgba(187, 44, 63, 0.25) 0 4px 8px, rgba(194, 45, 57, 0.25) 0 8px 16px,
      rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  .register {
    border-radius: 1px solid black;
  }
  
  
    
  .gradient-custom-2 {
      background: #fccb90;
      border-radius: 100px;
      background: -webkit-linear-gradient(
        to right,
        #ee7724,
        #d8363a,
        #dd3675,
        #b44593
      );
      background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .gradient-custom-2:hover {
    box-shadow: rgba(187, 44, 51, 0.35) 0 -25px 18px -14px inset,
      rgba(240, 58, 58, 0.25) 0 1px 2px, rgba(223, 50, 73, 0.25) 0 2px 4px,
      rgba(187, 44, 63, 0.25) 0 4px 8px, rgba(194, 45, 57, 0.25) 0 8px 16px,
      rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  /* .col-xl-6
  {
    border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 19px 10px rgb(133, 133, 133);
  } */
  .gradient-custom-3  {
    display: inline-block;
    background: #ff523b;
    color: black;
    padding: 8px 30px;
    margin: 30px 0;
    border-color:#dc3545 ;
    border-radius: 30px;
    transition: background 0.5s;
}